aiofiles
aiohttp==3.8.4
asyncio==3.4.3
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
motor==3.0.0
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pykeyboard
pyrogram==2.0.106
python-dotenv
pyyaml
requests
speedtest-cli
spotipy
tgcrypto
unidecode
yt-dlp==2023.10.13
youtube-search
youtube-search-python
pornhub-api==0.3.0
openai==1.17.1
lexica-api==1.5.5
